{#
/**
 * @file
 * Template for the NBG Currency block.
 *
 * Available variables:
 * - currency_data: Array of currency data.
 * - module_path:   Path to module.
 */
#}

<table>
  {% for k, v in currency_data %}
    <tr>
      <td>
        <img src="/{{ module_path }}/images/flags/{{ k|lower }}.png" alt="{{ k }}">
      </td>
      <td>{{ v.currency }}</td>
      <td style="color: {{ v.rate == -1 ? 'red' : 'green' }}">
        {{ v.change }}
      </td>
    </tr>
  {% endfor %}
</table>
